@* @using CurrieTechnologies.Razor.SweetAlert2;
@using Microsoft.AspNetCore.Components;
@using Pizzeria.Frontend.Repositories;
@using Pizzeria.Shared.Entities;
@inject AuthenticationStateProvider AuthenticationStateProvider
@page "/orders/create"

<h3>Crear Pedido</h3>

<PedidoForm @ref="pedidoForm" Pedido="pedido" OnValidSubmit="CreateAsync" ReturnAction="Return" />

@code {
    private PedidoForm? pedidoForm;

    [Inject] private IRepository Repository { get; set; } = null!;
    [Inject] private NavigationManager NavigationManager { get; set; } = null!;
    [Inject] private SweetAlertService SweetAlertService { get; set; } = null!;

    private bool isAuthenticated { get; set; }
    private Pedido pedido = new();

    
   

    private void CancelarPedido()
    {
        // Implementar lógica de cancelación
    }

    
    
}
 *@