@using CurrieTechnologies.Razor.SweetAlert2;
@using Microsoft.AspNetCore.Components;
@using Pizzeria.Frontend.Repositories;
@using Pizzeria.Shared.Entities;
@page "/workers/create"

<h3>Crear Trabajador</h3>

<TrabajadorForm @ref="trabajadorForm" Trabajador="trabajador" OnValidSubmit="CreateAsync" ReturnAction="Return" />

@code {
    private TrabajadorForm? trabajadorForm;

    [Inject] private IRepository Repository { get; set; } = null!;
    [Inject] private NavigationManager NavigationManager { get; set; } = null!;
    [Inject] private SweetAlertService SweetAlertService { get; set; } = null!;

    private Trabajador trabajador = new();

    private async Task CreateAsync()
    {
        var responseHttp = await Repository.PostAsync("/api/Trabajador", trabajador);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await SweetAlertService.FireAsync("Error", message);
            return;
        }

        Return();
        var toast = SweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con éxito.");
    }

    private void Return()
    {
        trabajadorForm!.FormPostedSuccessfully = true;
        NavigationManager.NavigateTo("/workers");
    }
}
