@page "/Login"

<div class="login-container">
    <h3>Acceder a Pizzería</h3>

    <EditForm Model="loginDTO" OnValidSubmit="LoginAsync">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label>Usuario</label>
            <InputText class="input-field" placeholder="Ingrese su usuario" @bind-Value="loginDTO.Email" />
            <ValidationMessage For="@(() => loginDTO.Email)" />
        </div>

        <div class="form-group">
            <label>Contraseña</label>
            <InputText type="password" class="input-field" placeholder="Ingrese su contraseña" @bind-Value="loginDTO.Password" />
            <ValidationMessage For="@(() => loginDTO.Password)" />
        </div>

        <div class="form-actions">
            <a href="#" class="register-link">No tengo cuenta</a>
            <button class="submit-button" type="submit">Ingresar</button>
        </div>
    </EditForm>
</div>
