@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView Roles="Admin">
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
    </Authorized>
    </AuthorizeView>
    <main>
       <NavPizza />
            <!--<AuthLinks />--> <!--Creo que me trae el nav de auth-->
       @Body
        <FooterPizza />
        

    </main>
   
</div>

