<div class="header">
    <h1>Pizzería Italiana</h1>
    <div class="nav">
        <a href="#">Inicio</a>
        <a href="#">Menu</a>
        <a href="#">Pedidos</a>
        <a href="/Promociones">Promociones</a>
        <a href="#">Reseñas</a>
        <a href="/Login">Mi cuenta</a>
        <AuthorizeView>
            <Authorized>
                <span>Hola, @context.User.Identity!.Name</span>
                <a href="Logout">Cerrar Sesión</a>
            </Authorized>
        </AuthorizeView>

    </div>
</div>

