@page "/reviews/create"
@using CurrieTechnologies.Razor.SweetAlert2
@using Microsoft.AspNetCore.Components
@using Pizzeria.Shared.Entities
@inject IRepository Repository
@inject SweetAlertService SweetAlertService
@inject NavigationManager NavigationManager

<h3>Crear Reseña</h3>

<ReseñaForm @ref="ReseñaForm" Reseña="Reseña" OnValidSubmit="CreateAsync" ReturnAction="Return" />

@code {
    private ReseñaForm? ReseñaForm;
    private Reseña Reseña = new();

    private async Task CreateAsync()
    {
        var responseHttp = await Repository.PostAsync("/api/Reseña", Reseña);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await SweetAlertService.FireAsync("Error", message);
            return;
        }

        Return();
        await SweetAlertService.FireAsync("Registro creado con éxito.", "success");
    }

    private void Return()
    {
        NavigationManager.NavigateTo("/reviews");
    }
}
