@using CurrieTechnologies.Razor.SweetAlert2;
@using Microsoft.AspNetCore.Components;
@using Pizzeria.Frontend.Repositories;
@using Pizzeria.Shared.Entities;
@page "/cash-payments/create"

<h3>Crear Pago Efectivo</h3>

<PagoEfectivoForm @ref="pagoEfectivoForm" PagoEfectivo="pagoEfectivo" OnValidSubmit="CreateAsync" ReturnAction="Return" />

@code {
    private PagoEfectivoForm? pagoEfectivoForm;

    [Inject] private IRepository Repository { get; set; } = null!;
    [Inject] private NavigationManager NavigationManager { get; set; } = null!;
    [Inject] private SweetAlertService SweetAlertService { get; set; } = null!;

    private PagoEfectivo pagoEfectivo = new();

    private async Task CreateAsync()
    {
        var responseHttp = await Repository.PostAsync("/api/PagoEfectivo", pagoEfectivo);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await SweetAlertService.FireAsync("Error", message);
            return;
        }

        Return();
        await SweetAlertService.FireAsync("Registro creado con éxito.", icon: SweetAlertIcon.Success);
    }

    private void Return()
    {
        pagoEfectivoForm!.FormPostedSuccessfully = true;
        NavigationManager.NavigateTo("/cash-payments");
    }
}
