@page "/"

<AuthorizeView>
    <Authorized>
        <p>Estas autenticado aguebado</p>
    </Authorized>
    <NotAuthorized>
        <p>No estas autorizado carechimba</p>
    </NotAuthorized>
</AuthorizeView>
